/* .form-container{
    background-color:#e9ecef;
} */
.zoom:hover{
    transform: scale(1.05);
}
.sign-in-google{
    width: 200px;
    background-color: #ea4335;
}
.sign-in-facebook{
    width: 200px;
    background-color: #129af6;
}